<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337809403766-do1hjtjst0s40pros9bcjta8jpv0r4fv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337809403766-do1hjtjst0s40pros9bcjta8jpv0r4fv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>337809403766-ivtcfvuki30f0ff8nnn0d7f2ohvl3lk9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmLrCf_4FnyP8eIP5PaQlUiBNb_KNUeBM</string>
	<key>GCM_SENDER_ID</key>
	<string>337809403766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.vnpthcm.nmeetingnoibo</string>
	<key>PROJECT_ID</key>
	<string>n-meeting-90b21</string>
	<key>STORAGE_BUCKET</key>
	<string>n-meeting-90b21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337809403766:ios:c31e578516f29edd031457</string>
</dict>
</plist>